.homeContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
}

.foldersContainer {
  flex: 1;
  padding: 1em;
}

.notesContainer {
  flex: 2 2 12em;
  padding: 1em;
}

.toggable-folders {
  display: none;
}

.non-toggable-folders {
  display: block;
}

@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
  }

  .foldersContainer .toggable-folders {
    display: block;
  }

  .foldersContainer .non-toggable-folders {
    display: none;
  }
}

h1 {
  font-size: 1.2em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

header,
footer {
  height: auto;
}

header {
  background-color: #1d1d1d;
  padding: 0.5em;
  border-bottom: 5px solid orange;
}

footer {
  background-color: #1d1d1d;
  padding: 1em;
  text-align: center;
  height: 24px;
  font-size: 10px;
}
