.AuthenticationPage {
    background-color: black;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.FormWrapper{
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    border-radius: 10px;
    box-shadow: 10px white;
    background-color: rgba(28, 27, 26, 0.5);
    align-items: center;
    gap: 20px;
    color: rgb(229 231 235);
}

.FormWrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.FormWrapper form input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid orange ;
    width: 300px;
    background-color: rgba(28, 27, 26, 0);
    color: rgb(229 231 235);
    font-size: 15px;
}
.FormWrapper form input:focus {
    outline: none;
    border-bottom: 3px solid orange;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}